body.error404 {
  .wrapper-inner-inner {
    position: relative;
    h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      font-size: 328px;
      opacity: 0.2;
      //   background: red;
      font-weight: 700;
    }

    p {
      margin-top: 5vmin;
      font-size: 24px;
      font-weight: 400;

      span {
        font-weight: 700;
        font-style: italic;
      }
    }
  }
}
