#cookie-notice {
  width: 1440px!important;
  min-width: 1440px!important;
  margin: auto;
  left: 0;
  right: 0;
  background-color: $grey !important;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  @media(max-width: 1440px) {
    width: 90%!important;
    min-width: 90%!important;
  }
  * {
    color: black;
    font-size: 18px;
    font-family: $primary;
    line-height: 150%;
  }
  .cn-button {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
  }
  .cookie-notice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    #cn-notice-text {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

.cn-close-icon {
  display: none!important;
}