section {
  &.flexible-content {
    background: $white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 2.5rem;
    padding: 5vmin;

    .block-title {
      width: 100%;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
