footer {
  background: #c1bebd;
  width: 100%;
  padding: 10vmin 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-wrapper {
    width: calc(100% - 320px);
    margin-left: 320px;
    padding: 0 3vmin;
    display: flex;
    justify-content: center;

    @media(max-width: 1024px) {
      width: 100%;
      margin-left: 0;
    }

    .footer-inner {
      width: 768px;
      @media(max-width: 768px) {
        width: 90%;
      }
      hr {
        border: none;
        outline: none;
        border: 1px solid $black;
        width: 50%;
        margin-left: 25%;
      }
      h5 {
        text-align: center;
        width: 100%;
      }
      .content {
        width: 100%;
        padding: 2rem 0;
        * {text-align: center}
        p {
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
}
