form.wpcf7-form {
  display: flex;
  flex-wrap: wrap;
  width: 768px;

  @media(max-width: 768px) {
    width: 100%;
  }

  .wpcf7-list-item {
    margin-left: 0;
    label {
      display: flex;
      align-items: flex-start;

      input {
        margin-right: 20px;
      }
    }
  }

  input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;

    * {font-weight: 400!important;}
    

    &[type=file] {
      padding: 0!important;
    }

    &[type=checkbox] {
      width: auto;
      padding: 0;
      
    }

    &[type=submit] {
      
    }

    button {
      width: 100%;
    }
    
  }

  p {
    width: 100%;
    label {
      
    }
  }

  textarea {
    width: 100%;
  }
}

.contact-info {
  margin-top: 5rem;
  p {
    margin-bottom: 0.5rem;
  }
}

// General stuff
input {
  &[type=file] {
    padding: 0.5rem 0 1.5rem 0!important;
  }
}