* {
  font-family: $bread-font;
  // font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f7f8fa;
}

img {
  width: 100%;
  height: auto;
}

.big-wrapper {
  width: calc(100% - 320px);
  margin-left: 320px;

  @media (max-width: 1024px) {
    width: 100%;
    margin-left: 0;
    padding-top: 70px;
  }

  .wrapper-inner {
    .wrapper-inner-inner {
    }
  }
}

.page-hero-wrapper {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.6);
  }

  .page-hero-content {
    position: relative;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 15vmin 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    height: calc(100vh - 20vh);
    margin: 0 0 5rem 0;
    width: 100%;

    @media (max-width: 1440px) {
      height: calc(100vh - 50vh);
    }

    @media (max-width: 1280px) {
      height: auto;
    }

    h2 {
      margin-bottom: 2.5rem;
    }
    p {
      width: 100%;
      margin: auto;
      margin-bottom: 5rem;
      color: $black;

      @media (max-widht: 960px) {
        width: 90%;
      }
    }
  }
}

.page-title {
  margin: 5rem 0 2.5rem 0;
}

.page-content {
}

.button {
  span {
    color: white;
  }
}
