.mobile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1499;

  @media (max-width: 1024px) {
    background: white;
  }

  img {
    width: 35px;
    height: auto;
    margin-left: 2rem;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .burger-wrapper {
      position: relative;
      width: 40px;
      height: 20px;
      margin-right: 2rem;
      cursor: pointer;
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }

      @media (max-width: 1024px) {
        z-index: 999999;
      }

      .line {
        position: absolute;
        top: 50%;
        height: 2px;
        margin-top: -1px;
        left: 0;
        width: 100%;
        background: $black;
        z-index: 999;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
          bottom: 0;
          top: initial;
        }
      }
    }
    .search-wrapper {
      position: relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      z-index: 999999;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $beige;
      cursor: pointer;
      margin: 0;
      margin-right: 1rem;

      svg {
        width: 25px;
        height: 25px;
        fill: white;
      }

      // &:focus-within {
      //   border: none!important;
      //   .search-result-wrapper {
      //     display: block;
      //   }
      // }
    }
  }
}

.meny-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  height: 100vh;
  width: 320px;
  transition: all ease 400ms;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $background;
  margin-bottom: 100px;
  display: flex;

  @media (max-width: 1024px) {
    transform: translateX(-150%);
    // width: 100%;

    &.active {
      transform: translateX(-0%);
    }

    &.andSearch {
      transform: translateX(-150%);
    }

    .search-result-wrapper {
      // background: green;
      // width: 100%!important;
      // left: 0!important;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      width: 150px;
      margin: auto;
    }
  }

  .meny-wrapper-inner {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2rem;

    .menu-inner {
      text-align: center;

      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $header-font;
        margin-top: 50px;
        margin-bottom: 0;
      }

      .menu-primary {
        a {
          text-transform: uppercase;
          font-weight: 700;
        }
        border-bottom: 1px solid #111;
      }

      .menu-sub {
        a {
          text-transform: uppercase;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      * {
        //text-align: center;
      }
    }

    h4 {
      width: 100%;
      height: auto;
      padding: 20px;
      color: $text;
      text-transform: uppercase;
      border-bottom: 1px solid $black;
    }

    ul {
      width: 100%;
      padding: 0.75rem 1rem;

      li {
        list-style: none;
        margin: 1rem 0;

        a {
          color: $bread-text;
          text-decoration: none;
        }
      }
    }
  }
}

.search-result-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  width: calc(100% - 320px);
  left: 320px;
  bottom: 0;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateX(200%);
  transition: all ease 400ms;
  z-index: 1000;

  &.active {
    transform: translateX(0%);
    @media (max-width: 1024px) {
      width: 100%;
      left: 0;
    }
  }

  #datafetch {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10vmin;
    margin-left: 5%;

    input {
      width: 100%;
      margin-bottom: 5rem;
    }
  }

  .datafetch-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .search-result-item {
      margin: 1%;
      width: 31.33%;
      padding: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      background: rgba($white, 0.3);
      text-decoration: none;
      box-shadow: 0 0 0 1px rgba($black, 0.2);
      transition: all ease 250ms;
      margin-bottom: 1rem;

      @media (max-width: 1440px) {
        width: 48%;
      }

      @media (max-width: 1024px) {
        width: 100%;
        margin: 1rem 0;
      }

      &:hover {
        //
      }

      img {
        width: 20%;
      }
      .meta {
        width: 70%;
        margin-left: 10%;
        h3 {
          margin: 0 0 1rem 0;

          @media (max-width: 1440px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.no-results-wrapper {
  width: 100%;
  * {
    text-align: center;
  }
}

.search-wrapper-big {
  h2 {
    width: 100%;
    text-align: center;
  }
}

.icon-wrapper {
  align-items: center;
  display: flex;

  svg {
    width: 1.2rem;
    fill: $white;
  }
}

.search-wrapper,
.cart-wrapper {
  margin-top: 1.5vmin;

  .input-wrapper {
    // border: solid 2px $primary;
    display: flex;
    padding: 0.5rem;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: $white;
    background: $primary;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgba($primary, 0.7);
    }

    input,
    .text-wrapper {
      border: none;
      width: calc(100% - 1.6rem);
      background-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.5rem;
      font-size: 1rem;
      color: $white;
      &::placeholder {
        color: $white;
      }
    }

    svg {
      fill: $white !important;
      outline: $white !important;
    }

    .text-wrapper {
      * {
        display: inline;
        text-decoration: none;
        color: $white;
        font-weight: bold;
      }
    }
  }
}

#loading-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  &.hide {
    display: none;
  }
}
