.buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;

  &.center {
    justify-content: center;
  }

  &.full-width {
    flex-wrap: wrap;
    .button {
      width: 100%;
      margin: 0 0 1vmin 0;
      &.primary {
        background: $black;
        color: $white;
        padding: 1.5rem 0;
        border-radius: 5px;
      }
    }
  }
  &.auto-width {
    flex-wrap: wrap;
    .button {
      width: auto;
      margin: 0 0 1vmin 0;
      &.primary {
        background: $black;
        color: $white;
        padding: 1.5rem 3rem;
        border-radius: 5px;
      }
    }
  }
}

.added_to_cart {
  width: 100%;
  margin-bottom: 1vmin;
  text-align: center;
  padding: 7.5px 15px;
  font-weight: 700;
  text-transform: uppercase;
  order: 3;
  color: $black;
}

.woocommerce button.button.alt:hover {
  background-color: rgba($primary, 0.5);
}

.button,
.woocommerce button.button,
.woocommerce a.button,
input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0.75rem 1.25rem;
  transition: all ease 250ms;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  span {
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &.add_to_cart_button {
    display: block;
  }

  &.primary,
  &.single_add_to_cart_button,
  &.add_to_cart_button,
  &.wc-forward {
    background: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    color: #fff;

    &.outline {
      background: transparent;

      &:hover {
        background-color: rgba($primary, 0.5);
      }
    }

    &:hover {
      opacity: 0.5;
    }
    span {
      color: $text;
    }
  }
}

input {
}

@mixin products-wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  li.product-item {
    width: 23%;
    margin: 0 1vmin;
    margin-bottom: 2vmin;
    transition: all ease 250ms;
    height: 100%;

    @media (max-width: 1280px) {
      width: 48%;
    }

    // @media(max-width: 1024px) {
    //   width: 100%;
    //   margin: 0 0 2vmin 0;
    // }

    &:hover {
      background: $white;
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
    }

    .product-item-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: $background;
      padding: 1.5vmin;

      .card-footer {
        display: flex;
        width: 100%;
        align-items: center;

        a {
          margin: 0;
        }
      }

      .image {
        width: 100%;
        height: auto;
        position: relative;

        .nyhet {
          position: absolute;
          top: 1vmin;
          left: 0;
          width: auto;
          height: auto;
          background: $black;
          z-index: 2;
          padding: 5px 10px;
          font-weight: 700;
          color: $white;
          text-transform: uppercase;
          font-size: 14px;
        }
        img {
          width: 100%;
          height: auto;
          position: relative;
          z-index: 1;
        }
      }
      .product-meta-wrapper {
        padding: 1vmin;
        display: flex;
        flex-wrap: wrap;
        .title {
          width: 100%;
          h5 {
          }
        }
        .sku {
          width: 100%;
          margin-bottom: 1vmin;
          h5 {
          }
        }
        .excerpt {
          width: 100%;
          margin-bottom: 2vmin;
          p {
          }
        }
        .price {
          width: 100%;
          font-weight: 700;
        }
      }
    }
  }
}
.products-wrapper {
  @include products-wrapper;
}

@mixin input-fields {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  outline: none;
  background: $lightgrey !important;
  padding: 0.5vmin;
  border-radius: 0.3vmin;
}

@mixin links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  .link-item {
    width: 31%;
    margin: 1%;
    text-decoration: none;
    background: $secondary;
    padding: 2rem;

    @media (max-width: 1440px) {
      width: 48%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    h3 {
      color: $brown;
      margin: 3rem 0 2rem 0;
    }

    p {
      color: $black;
      margin-bottom: 2rem;
      font-family: $bread-font;
      font-weight: 400;
    }

    img {
      width: 100%;
    }

    .buttons-wrapper {
      .button {
        // Primary black button
      }
    }
  }
}
.links-wrapper {
  @include links;
}

.woocommerce li.product {
  @media (max-width: 600px) {
    width: 100% !important;
  }
}
