// * {box-shadow: 0 0 0 1px orange;}

.term-description {
  display: none!important;
}



.sub-page-hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: auto;
    margin: 0 0 5rem 0;

    .text-wrapper {
      width: 50%;
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 2.5%;

      @media(max-width: 1280px) {
        width: 100%; 
        order: 2;
        margin: 2.5rem 0;
      }

      .text-wrapper-inner {
        width: 100%;
      }
    }
    .image-wrapper {
      width: 50%;
      height: 100%;
      position: relative;

      @media(max-width: 1280px) {
        width: 100%;
        order: 1;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    
    
    
}
