@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

html {
	font-size: 100%;
	color: $bread-text;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4rem 0 2rem 0;
  font-family: $header-font;
  font-weight: 700;
  color: $text;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
  @media(max-width: 1024px) {
    font-size: 1.44rem;
  }
}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

h6 {font-size: 1rem;}

small, .text_small {font-size: 0.8rem;}

p {
  line-height: 150%;
  font-size: 1.10rem;
  margin-bottom: 2rem;

  a {
    color: #222;
    text-decoration: none;
    box-shadow: 0 1px 0 0 #222;
  }
}

.page-content {

  ul {
    padding-left: 50px;
    margin: 2rem 0;
  
    li {
      margin-bottom: 0.5rem;
    }
  }
  
  ol {
    padding-left: 49px;
    margin: 2rem 0;
  
    li {
      margin-bottom: 0.5rem;
    }
  }

  strong {
    font-weight: 700;
  }
  
  blockquote {
    padding: 2rem;
  
    &:before {
      content: "”";
      position: relative;
      left: -20px;
      top: 0;
      font-size: 72px;
      height: 40px;
      display: flex;
    }
  
    p {
      font-style: italic;
      font-size: 1.25rem;
    }
  }
}
