// $green: #20b210;
// $darkgreen: #25ad16;
// $lightgreen: #32ce21;
$darkgrey: rgb(224, 224, 224);
$lightgrey: #eee;
$black: #222;
$white: #fff;
$beige: #878484;
$darkbeige: #727171;

$brown: #7b7573;
$grey: #b5b5b3;
$primary: #111;
$secondary: #e6e4de;
$background: $secondary;
$text: #2d3235;
$bread-text: $brown;

$header-font: 'Playfair Display', serif;
$bread-font: 'Montserrat', sans-serif;
