// Numerous woocommerce style overrides

.woocommerce {
  a {
    color: $black;
  }
}

.added_to_cart {
  background: none !important;
  text-align: left;
  color: $black !important;
  font-weight: 700;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  text-decoration: underline !important;
  margin-top: 1vmin;
  width: 100%;

  &:hover {
    background: none !important;
  }
  &:active {
    background-image: linear-gradient(#111, #222, #222);
    box-shadow: 0 1px 0 0 $black;
    transform: translateY(1px);
  }
}

.woocommerce {
  .single-product {
    padding: 5vmin;
    background-color: $background;
    div.product {
      .woocommerce-product-gallery {
        ol.flex-control-nav.flex-control-thumbs {
          margin-top: 2vmin !important;
        }
      }
      div.summary {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      form.cart {
        // background: orange;
        .quantity {
          input {
            width: 40px;
            height: 40px;
            padding: 0;
            margin-right: 5px;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
            border: solid 1px rgba(51, 51, 51, 0.3);
            border-radius: 3px !important;
          }
        }
        .single_add_to_cart_button {
          height: 50px;
          background-color: $black !important;
        }
      }
    }

    // Related
    section.related {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      h2 {
        width: 100%;
        margin: 0 0 1vmin 0;
      }

      .products {
        width: 100%;

        .product {
        }
      }
    }
  }
}

.price {
  color: $black !important;
}

.woocommerce-cart {
  table {
    input {
      color: $text;
      padding: 0.25rem;
    }
  }

  .cart-collaterals {
    .cart_totals {
      float: none;
      margin: 0 auto;
    }
  }

  .coupon {
    float: none !important;

    input {
      padding: 0.5rem;
    }

    button {
    }
  }
}

.wrapper-inner-inner {
  padding: 3vmin;
  background-color: rgba($background, 0.2);
}

.woocommerce-message {
  background: #fff;
  border-top-color: $black;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.woocommerce-message::before {
  color: $black;
  top: 1.2em;
}

.woocommerce-info {
  background: $lightgrey;
  border-top-color: $darkbeige;
  font-weight: 400;
}

.woocommerce-info::before {
  color: $black;
}

.button {
  text-align: center;

  &.loading {
    color: transparent !important;
    position: relative;
    opacity: 0.6 !important;
    padding-right: 0 !important;
    &:before {
      content: "Vänta...";
      color: $white;
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
    }
    &:after {
      display: none !important;
    }
  }

  &.added {
    color: transparent !important;
    position: relative;
    &:before {
      content: "Tillagd";
      color: $white;
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
    }
    &:after {
      display: none !important;
    }
  }
}

.woocommerce-checkout {
  .wccpf-cart-data-editor {
    fieldset {
      border: none;
    }

    .wccpf-cart-editor-ul {
      list-style: none;
      display: flex;

      li {
        margin: 0.5rem;

        img {
          height: 50px;
          width: auto;
        }
      }
    }
  }
}

.wccpf-fields-container .wccpf-fields-group-1 {
  .wccpf_label {
    input {
      border: none;
      outline: none;
      background: none;
    }
  }
  .bredd-wrapper {
    input {
      border: none !important;
      outline: none;
      background: none;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) !important;
      padding: 1vmin !important;
      border-radius: 0.5vmin !important;
    }
  }
  .lngd-wrapper {
    input {
      border: none !important;
      outline: none;
      background: none;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) !important;
      padding: 1vmin !important;
      border-radius: 0.5vmin !important;
    }
  }
  * {
    // box-shadow: 0 0 0 1px black;
  }
  .wccpf_value {
    display: flex;
    flex-wrap: wrap;
    * {
      width: 100%;
    }
  }
  .wccpf-field::-webkit-file-upload-button {
    visibility: hidden;
    * {
      width: 100%;
    }
  }
  .wccpf-field::before {
    content: "Select some files";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .wccpf-field:hover::before {
    border-color: black;
  }
  .wccpf-field:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  .hidden-wrapper {
  }
  .wcff_image_prev_shop_continer {
    img {
      width: 200px;
      max-width: initial;
    }
  }
}

.long-text-description {
  display: flex !important;
  width: 100% !important;
  height: auto !important;
  margin: 4vmin 0 !important;
  flex-wrap: wrap;
  p {
    width: 100%;
    margin: 1vmin 0;
  }
}

.woocommerce .products ul,
.woocommerce ul.products {
  li {
    background: $background;
    padding: 2rem !important;

    h2.woocommerce-loop-product__title {
      font-size: 1.2rem !important;
      color: $beige;
      @media (max-width: 1440px) {
        font-size: 1rem !important;
      }
    }
  }
}

.summary {
  h1 {
    color: $beige;
  }
}

.wc-tabs-wrapper {
  display: none;
}
